$main-font: 'Roboto', sans-serif;

$banner-text-color: #FFFFFF;
$banner_paragraph_color: #E1E1E1;
$top-bg-color: #074ECE;
$btn-bg-color: #34B2FF;
$card-title-color: #171614;
$card-text-color: #666666;
$card-border-color: #FFFFFF;
$bg-icon-color: #ebf7ff;
$about-us-title-color: #34B2FF;
$footer-text-color: #F5F5F5;

$large-desktop: 2300px;
$small-desktop: 1300px;