.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1170px;
  height: 515px;
  justify-content: space-between;
}

@media (min-width: $large-desktop) {
  .features {
    width: 1500px;
  }
}

@media (max-width: $small-desktop) {
  .features {
    width: 800px;
    height: 1250px;
    justify-content: center;
  }
}