@import "src/styleElements/vars";
@import "src/styleElements/animations";

.search-result {
  &__subtitle {
    margin: 5px 0 0 10px;
  }
  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 5px 0 0 10px;
  }
  &__item {
    animation-name: Appearance;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    border-bottom: 1px solid $secondary-background;
    flex: 0 0 12%;
    &:hover {
      cursor: pointer;
      background-color: $item-background-hover;
    }
  }
}
