@import "src/styleElements/vars";

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 10%;
  background-color: $block-background;
  color: $main-font;

  & > input {
    flex: 0 1 40%;
  }
}