@import "src/styleElements/vars";

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 30%;
  height: 100vh;
}

@media (max-width: $small-screen-breakpoint) {
  .search-container {
    flex: 0 0 100%;
  }
}