@import "src/styleElements/mixins";

.search-result {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 0 0 80%;
  @include cursor();

  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.new-page-loading {
  padding: 5px 0 0 10px;
}