{
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["airbnb-typescript", "react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "no-multi-spaces": "error",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": false
      }
    ],
    "curly": "error",
    "brace-style": "error",
    "max-len": [
      "error",
      {
        "code": 200,
        "ignoreStrings": true
      }
    ],
    "no-whitespace-before-property": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "comma-spacing": "error",
    "comma-style": [
      "error",
      "last"
    ],
    "arrow-spacing": "error",
    "semi": [
      "error",
      "never"
    ],
    "max-classes-per-file": "off",
    "no-plusplus": "off",
    "semi-spacing": "error",
    "key-spacing": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "no-trailing-spaces": "error",
    "react/jsx-props-no-spreading": [0, {
      "html": "ignore",
      "custom": "ignore",
      "explicitSpread": "ignore"
    }],
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/naming-convention": [
      "off"
    ]
  }
}