.hamburger {
  display: none;

  &__toggle {
    opacity: 0;
  }

  &__toggle:checked ~ &__btn > span {
    transform: rotate(45deg);
  }
  &__toggle:checked ~ &__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &__toggle:checked ~ &__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &__toggle:checked ~ &__box {
    visibility: visible;
    right: 0;
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  &__btn > span,
  &__btn > span::before,
  &__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $btn-bg-color;
    transition-duration: .25s;
    z-index: 1;
  }

  &__btn > span::before {
    content: '';
    top: -8px;
  }

  &__btn > span::after {
    content: '';
    top: 8px;
  }

  &__box {
    display: block;
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 19%;
    border-radius: 10px;
    top: -10px;
    right: 1000px;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: $banner-text-color;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
  }

  &__item {
    display: block;
    padding: 12px 24px;
    color: $card-text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  &__item:hover {
    text-decoration: underline;
  }
}

@media (max-width: $small-desktop) {
  .hamburger {
    display: block;
  }
}