.header {
  color: $banner-text-color;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  width: 60.9vw;
  height: 52px;

  &__btn {
    @include btn(148px, 52px, 6px 35px);
  }
}