.top-bg {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 996px;

  &__positioning {
    z-index: 0;
    position: absolute;
    background-color: $top-bg-color;
    transform: skew(3deg, -7deg);
    border-radius: 50px;
    margin: -250px 0 0 20px;
    width: 115vw;
    height: 996px;
  }

  &__lines {
    z-index: 0;
    overflow: hidden;
    transform: skew(-3deg, 7deg);
    position: absolute;
    top: 135px;
    left: -170px;
    right: 0;
    bottom: 0;
    width: 1833px;
    height: 996px;
  }
}