$main-font: #FFFFFF;
$secondary-font: #202020;
$main-background: #FFFFFF;
$secondary-background: #202020;
$block-background: #3F3F3F;
$item-background-hover: #CFCFCF;
$form-yellow: #FFDF6C;
$button-black-hover: black;
$disabled: #727272;
$error: red;
$small-screen-breakpoint: 1100px;