.about-us {
  padding-top: 175px;
  width: 1170px;
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  &__img {
    width: 470px;
    height: 571px;
  }
}

@media (min-width: $large-desktop) {
  .about-us {
    width: 1500px;
  }
}

@media (max-width: $small-desktop) {
  .about-us {
    padding-top: 20px;
    justify-content: center;
    width: 800px;
    height: 1000px;
  }
}

