@import "src/styleElements/vars";

.button-ui {
  flex: 0 1 20%;
  font-family: 'Noto Sans JP', sans-serif;
  border-radius: 5px;
  padding: 4px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.1s linear;

  &_yellow {
    border: 2px solid $form-yellow;
    color: $form-yellow;
    background-color: $block-background;
    &:hover {
      border: 2px solid $main-background;
      color: $main-font;
    }
  }

  &_black {
    padding: 6px;
    border: 2px solid $block-background;
    color: $block-background;
    background-color: $main-background;
    &:hover {
      border: 2px solid $button-black-hover;
      background-color: $button-black-hover;
      color: $main-background;
    }
  }
}