@import "src/styleElements/vars";

.input-ui {
  border: 2px solid $form-yellow;
  border-radius: 5px;
  outline: 0;
  outline-offset: 0;
  padding: 4px 4px 4px 8px;
  background-color: $block-background;
  color: $form-yellow;
  transition: 0.1s linear;

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $form-yellow;
    &:focus, &:active, &:hover {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $main-font;
    }
  }
  &:focus, &:active, &:hover {
    border: 2px solid $main-background;
    color: $main-font;
  }
  &::placeholder {
    color: inherit;
  }
}
