.bottom-bg {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 830px;

  &__positioning {
    z-index: 0;
    position: absolute;
    overflow: visible;
    top: 150px;
    right: 2px;
    transform: rotate(-7deg);
    background-color: $top-bg-color;
    border-radius: 50px;
    width: 115vw;
    height: 996px;
  }

  &__lines {
    z-index: 0;
    overflow: hidden;
    transform: rotate(7deg);
    position: absolute;
    left: 400px;
    width: 100vw;
    height: 996px;
  }
}

@media (min-width: $large-desktop) {
  .bottom-bg {
    &__positioning {
      top: 200px;
    }
  }
}

@media (max-width: $small-desktop) {
  .bottom-bg {
    &__positioning {
      top: 70px;
    }

    &__lines {
      display: none;
    }
  }
}