.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  width: 1128px;
  height: 450px;
}

@media (min-width: $large-desktop) {
  .footer {
    width: 1500px;
  }
}

@media (max-width: $small-desktop) {
  .footer {
    padding-top: 40px;
    width: 800px;
    height: 800px;
  }
}