.information {
  z-index: 1;
  width: 1128px;
  height: 268px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: $large-desktop) {
  .information {
    width: 1500px;
  }
}

@media (max-width: $small-desktop) {
  .information {
    padding-top: 100px;
    width: 800px;
    height: 400px;
  }
}