.subscribe {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1140px;
  height: 289px;
  background-color: $bg-icon-color;
  border-radius: 10px;
}

@media (min-width: $large-desktop) {
  .subscribe {
    width: 1500px;
  }
}

@media (max-width: $small-desktop) {
  .subscribe {
    flex-wrap: wrap;
    width: 800px;
  }
}