@import "styleElements/fonts";
@import "styleElements/animations";
@import "styleElements/vars";

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-family: $main-font-family;
  background-color: $main-background;
  animation-name: Appearance;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
}